html,
body {
    font-family: sans-serif
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 2pt;
    text-decoration-color: #d9d2e6;
}