html,
body {
  font-family: sans-serif
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Navbar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding: 10pt 30pt;
  border-bottom: 1px solid #eee;
}

.Navbar a {
  cursor: pointer;
  font-weight: bold;
  font-size: 120%;
  text-decoration: underline;
  text-decoration-thickness: 2pt;
  text-decoration-color: #d9d2e6;
}

.Navbar .auth-button {
  border: none;
  color: #fff;
  background: #000000;
  padding: 10pt 20pt;
  border-radius: 5pt;
  font-weight: bold;
  cursor: pointer;
}

.Navbar .auth-button div {
  flex-direction: row;
  gap: 5pt;
  display: flex;
  align-items: center;
}

.Navbar .auth-image {
  height: 35pt;
  width: 35pt;
  border-radius: 50%;
  cursor: pointer;
}